.box{
    height: 5px;
    background-color: green;
    border-color: red;
    
}
.card{
background-color: #729EA1;
 height: 450px;
    width: 7500px; 
    box-shadow: 6px 10px #243E36;
    
}

.image{
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 250px;
    height: 260px;
}

.button {
  display: none;
  background-color: blue;
}



.card:hover  {
  opacity: 0.5;
  
    }

.button:hover {
display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}