.box{
    height: 5px;
    background-color: green;
    border-color: red;
    
}
.card{
background-color: #729EA1;
 height: 450px;
    width: 7500px; 
    box-shadow: 6px 10px #243E36;
    
}

.imagediv{

   /* margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em; */
    max-width: 300px;
    max-height: 20px; 
    object-fit: contain;
     /* display: block;
  width: auto;
  height: auto;; */

}
.image{
    margin-top: 1em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    max-width: 260px;
    max-height: 250px;
     display: block;
     object-fit: cover;
     align-content: center;
  /* width: auto;
  height: auto;; */
}



/* .button {
  display: none;
  background-color: blue;
} */



.card:hover  {
  opacity: 0.5;
  
    }

/* .button:hover {
display: inline-block;
} */

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #243E36;
  color: #F1DEDE;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  /* z-index: 1; */
  width: 120px;
  top: 40%;
  left: 50%;
  margin-left: -60px;
  opacity: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.textRow{
  padding-top: 18em;
  margin-left: 0.7em;
  margin-right: 0.7em;
}