.box{
    height: 5px;
    background-color: green;
    border-color: red;
    
}
.card{
background-color: #729EA1;
 height: 450px;
    width: 7500px; 
    box-shadow: 6px 10px #243E36;
    
}

.image{
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 250px;
    height: 260px;
}